body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

img {
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

#startNFCScanButton {
    background-color: #4CAF50;
    color: white;
}

#startNFCScanButton:hover {
    background-color: #45a049;
}

.nfc-message {
    margin: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}
